@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.borda {


    margin-left: 10px;
    border-right: 2px solid whitesmoke;
    width: 230px;
    margin-top: -198px;
}

.chatbtn {


    position: relative;
    top: 220px;
    width: 195px;
    margin-left: 3px;
    border-radius: 8px;
    background-color: black;
    color: white;
    height: 28px;


}

.painel-lateral {



    margin-top: 239px;
    height: 170px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: normal;
    gap: 5px;
    /*espacamento entre as colunas*/
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 10vw;
    color: black;
    margin-left: 20px;



}





.painell-lateral-baixo {



    margin-top: 700px;
    padding: -10px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
    /*espacamento entre as colunas*/
    width: 10vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10vh;
    margin-left: 24px;

}

.botao-chat {


    width: 130px;
    text-align: left;
    background-color: white;
    border: none;
    position: relative;
    top: -0px;
    margin-bottom: 10px;

}




.meio {

    margin-left: 630px;
    font-size: 30px;
    position: relative;
    top: 180px;
    height: 120px;
    margin-top: -25px;
    max-height: 1px;

}


.exemplos {

    margin-left: 430px;
    margin-top: -590px;
    width: 300px;
    font-family: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');;



}

.titulos-um {


    position: relative;
    top: -65px;
    font-size: 20px;
    margin-left: 62px;

}

.paragrafo1 {


    margin-left: -40px;
    margin-bottom: 27px;
    font-size: 20px;
    position: relative;
    top: -22px;
}




.exemplosdois {


    margin-left: 780px;
    margin-top: -35px;
    width: 300px;
    font-family: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');;



}





.titulos-dois {


    margin-left: 79px;
    position: relative;
    top: -271px;
    font-size: 20px;
}

.paragrafo2 {


    font-size: 20px;
    margin-bottom: 30px;
    margin-bottom: 15px;
    ;
    padding: 10px;
    margin-top: -5px;
    position: relative;
    top: -233px
}



.exemplosdois p {

    margin-bottom: 10px;
}



.exemplostres {
    margin-left: 1100px;
    margin-top: -444px;
    width: 320px;
    font-family: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');;



}



.titulos-tres {

    position: relative;
    top: -61px;
    margin-left: 80px;
    font-size: 20px;



}

.exemplostres p {


    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -19px;
}





.digitacao {


    margin-left: 640px;
    margin-top: 185px;
    font-family: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');;



}









.escreva {


    height: 40px;
    width: 780px;
    background-color: white;
    border-radius: 16px;
    margin-left: 59px;
    border: #F7F9FB;
}


