@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* .titulo{
        font-size: 76px;


    } */

/* #meutiutlo {


    font-size: 76px;

    }  */

.paige-contener {

    display: flex;
}

h1 {

    font-size: 76px;
    font-family: "Inter";
    

}

.inpt {


    padding: 18px;
    /* espacamento int*/
    border: none;
    /*remove a borda*/
    background-color: #f7f9fb;
    /*define do fundo*/
    border-radius: 10px;
    width: 377px;
    margin-bottom: 16px;

}

.login-btn {

    background-color: #1c1c1c;
    color: #f7f9fb;
    border: none;
    /*altura*/
    padding: 18px;
    width: 377px;
    /*largura*/
    border-radius: 10px;
    /*arredonda a borda*/
}

.login-logincontener {

    height: 100vh;
    display: flex;
    flex-direction: column;
    /*deixa em colunas*/
    align-items: center;
    /*horizontal*/
    justify-content: center;
    /*horizontal*/
    width: 50vw;
    /*largura*/
}

.login-logo {

    height: 60px;
}

.roboimage {

    background-image: url(../../assets/imgs/Sidebar.png);
    background-size: cover;

    width: 50vw;
    height: 100vh;
}